*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0s;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.menu{
    margin-top: 1em;
}

  .logo{
    width: 80px;  
    vertical-align: top;
    margin-left: 3em;
  }


  .left{
      float: left;
      width: 40%;
      
  }

  .right{
      float: right;
     
  }

.menu ul li{
    display: inline-block;
    font-size: 0.8em;
    margin-right: 3em;
    text-decoration: none;
    
}

.button{
    font-size: 1em;
    padding: 0.2em 0.7em;
    border-style: none;
}

#menu-but-color{
   background-color: #0061ff;
   color: white;
}

.ban-container{
    background-color: #b4d0e7;
    margin-top: 3em;
    
}

.banner{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: -60px;
    
    

}

.ban-image img{
    width: 120%;
    padding-top: 2em;
}

.main-text{
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    line-height: 3em;
    
}

.ban-text{
    padding-top: 2em;
    padding-right: 3em;
}

.ban-button{
    padding-top: 2em;
    padding-bottom: 1em;

}

.ban-button button{
    padding: 0.5em 1em;
    border-style: none;
    background-color: #0061ff;
    color: white;
}

.p-ban-1{
    font-size: 0.8em;
}

.p-ban{
    padding-bottom: 2em;
    font-size: 0.7em;
}

.arrow{
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-bottom: 2em;
}

.first-section{
    margin-top: 10em;
}

.column-side{
    height: 700px;
    border: 1px solid lightgray;
    width: 33%;
    margin: 10px 0;
}

.column-center{
    height: 700px;
    padding-left: 1em;
    width: calc(33% - 20px);
    border: 1px solid lightgray;
    margin: 10px;
}



.container-1{
    width: 60%;
    margin: 0 auto;
}

.radio{
    margin-bottom: 1em;

}

.col-button{
    padding: 0.5em 1em;
    border-style: none;
    background-color: #0061ff;
    color: white;
    margin-top: 2em;
}

.first-section{
    margin-bottom: 1em;
}

.font-col{
    font-size: 0.8em;
}


.col-top{
    text-align: center;
    padding: 1em;
    border: 1px solid lightgray;
}



.col-mg{
    margin-bottom: 0.5em;
}
.col-mg2{
    margin-bottom: 3em ;
}

.check-mark{
    color: #0061ff;
}

ul li{
    list-style-type: none;
    margin-bottom: 1.2em;
}

.fs-title{
    padding-bottom: 1.5em;
}

label{
    margin-right: 2em;
}

.container-2{
    width: 60%;
    margin: 0 auto;
    height: 180px;
    border: 1px solid lightgray;
}


.col-top-2{
    text-align: center;
    padding: 0.5em;
    border: 1px solid lightgray;
}


.col-left-2{
    width: 70%;
    text-align: left;
    
}

.col-right-2{
    width: 30%;
    
}

.pd1{
    padding:2em;
}

.container-3{
    width: 60%;
    margin: 0 auto;
    height: 350px;
    margin-top: 6em;
}

.image-left{
    float: left;
    width: 60%;
}

.image-left img{
    width: 80%;
    height: 80%;
    
}

.right-text{
    float: left;
    width: 40%;
    margin-top: 2em;
    margin-left: -3em;
    line-height: 1.5em;
}


.col-button-1{
    padding: 0.7em 1.2em;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.container-4{
    width: 60%;
    max-width: 1500px;
    margin: 3em auto;
}

.row {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 2em;
}    


.article {
    display: inline-block;
    width: calc((100%/3) - 40px);
    margin: 0 8px;
}

.article img {
    width: 100%;
    height: 100%;
}

.bottom-title {
    margin-top: 3em;
    margin-bottom: 2em;
}

.a-color{
    color: #0093ce;
}

.container-5{
    width: 100%;

    margin-top: 2em;
}


.left-box{
    margin: 0;
    height: 300px;
    width: 30%;
    float: left;
}    


.right-box{
    margin: 0;
    height: 300px;
    width: 30%;
    float: left;
}

.central-box{
    margin: 0;
    height: 300px;
    max-width: 40%;
    background-color: #f0e9e9;
    float: left;
}

.central-box img{
    margin-top: 2em;
    width: 20%;
    margin-bottom: 3.2em;
}

.left-box img{
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;

}

.right-box img{
    float: left;
    width: 100px;
    height: 100px;
    padding: 20px;
}

.central-box-text-2{
    margin-top: 2.5em;
    
}

#color-1{
    
}

#color-2{
    background-color: #61082b;
}

#color-3{
    
}

#color-4{
     background-color: #ff1c1c;
}

#color-5{
    
}

#color-6{
    
}

#color-7{
    
}

#color-8{
    
}

.container-6{
    width: 100%;
    height: 300px;
    margin-top: 6.2em;
    background-color: #b4d0e7;
    line-height: 300px;

}

.left-sec{
    width: 70%;
    float: left;
    text-align: center;
    

}


.left-sec h3{
    color: #61082b;
}

.right-sec{
    width: 30%;
    float: left;
    
   
}

.right-sec button{
    padding: 0.5em 1em;
    border-style: none;
}


.container-7{
    width: 60%;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 6em;
}

.questions{
    margin-bottom: 3em;
    font-size: 1.5em;
}

.question{
    font-weight: bold;
    font-size: 0.8em;
    line-height: 3em;
}

.bar{
    border-color: lightgray;
}

.arrow-down{
    margin-left: 35%;
}